@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="container my-5">
    <div id="welcome" class="text-center mb-4">
        <h1 class="display-4 fw-bold">Welcome to YT Channel Finder</h1>
        <p class="lead">Discover and explore YouTube channels with ease.</p>
        <a asp-controller="Youtube" asp-action="Index" class="btn btn-lg btn-primary">Start Searching</a>

    </div>
    <br /><br />
    <div id="about" class="row mb-5">
        <div class="col-md-12">
            <h2 class="text-center mb-3">About This Website</h2>
            <p class="text-center">
                YT Channel Finder is designed to simplify the process of discovering YouTube channels that align with your interests and passions. Our platform provides a user-friendly interface that enables you to search for channels based on keywords and themes. Whether you're looking for educational content, entertainment, tutorials, or lifestyle channels, we make it easy for you to find exactly what you're looking for.
            </p>
            <p class=" text-center">
                With access to a vast array of YouTube channels, our service helps you stay informed and entertained. We aim to connect you with creators who share valuable insights, knowledge, and unique perspectives.
            </p>
        </div>
    </div>

    <br />
    <div id="how-it-works" class="row mb-5">
        <div class="col-md-12">
            <h2 class="text-center mb-3">How Does Our YT Channel Finder Work?</h2>
            <p class="text-center">
                YT Channel Finder helps users quickly discover YouTube channels based on specific criteria.
                Simply enter a channel name or related keywords, and our tool will search YouTube's extensive database to find relevant channels.
                Once you submit the search, results related to your query will appear, allowing you to choose and explore channels in detail.
            </p>
        </div>
    </div>
    <br />

    
    <div id="features-usage" class="row">
        <div class="col-md-6">
            <h2 class="text-center mb-3">Key Features</h2>
            <ul class="list-unstyled">
                <li>
                    <h5>🔍 Comprehensive Search</h5>
                    <p>Effortlessly find YouTube channels based on your interests and preferences.</p>
                </li>
                <li>
                    <h5>📊 Channel Analytics</h5>
                    <p>Access detailed statistics and analytics for each channel to make informed choices.</p>
                </li>
                
            </ul>
        </div>
        <br /><br />

        <div class="col-md-6">
            <h2 class="text-center mb-3">How to Use?</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Click the "Start Your Search" button to access the search page.</li>
                <li class="list-group-item">Enter relevant keywords in the search bar to find channels related to your interests.</li>
                <li class="list-group-item">Browse through the search results and click "View" to learn more about each channel.</li>
                <li class="list-group-item">If you want to explore a channel further, click "Visit Content on YouTube" to visit their YouTube page and dive into their content.</li>
             
            </ol>
        </div>

    </div>

    <br />
    <br />
</div>
